.weather-bean-block {
  overflow:auto;
}
.weather-bean-icon {
  float: right;
  width:48px;
  height: auto;
  margin:0 0 10px 10px;
}
.weather-bean-city {
  font-weight: bold;
  font-size: 110%;
}
.weather-bean-temp {
  font-size: 300%;
  line-height: 100%;
}